# Training on Train Data Set

In [536]:
print(__doc__)
import os.path
import csv
import os
import pandas as pd
from sklearn import tree 
from sklearn import preprocessing
import numpy as np
from sklearn.metrics import accuracy_score, precision_recall_curve, f1_score

Automatically created module for IPython interactive environment

In [537]:
url = "/Users/sorooshnazem/Downloads/Dataset/train.csv"
clients = pd.read_csv(url)
clientsInfo=pd.DataFrame()
columns=(str(clients.columns.values).split(','))
for value in columns:
    value=value.translate(None, "[]'\" ") 
    clientsInfo[value] = 0

In [538]:
for i in range(0,len(clients.as_matrix())):
#for i in range(0,100):
    recordValues=(str(clients.as_matrix()[i])).split(',')
    recordValues=[value.translate(None, "[]'\" ") for value in recordValues]
    clientsInfo.loc[i]=recordValues

In [539]:
clientsInfo['CUST_COD'] = clientsInfo['CUST_COD'].astype(int)
clientsInfo['LIMIT_BAL'] = clientsInfo['LIMIT_BAL'].astype(float)
clientsInfo['BILL_AMT_DEC']=clientsInfo['BILL_AMT_DEC'].astype(float)
clientsInfo['BILL_AMT_NOV']=clientsInfo['BILL_AMT_NOV'].astype(float)
clientsInfo['BILL_AMT_OCT']=clientsInfo['BILL_AMT_OCT'].astype(float)
clientsInfo['BILL_AMT_SEP']=clientsInfo['BILL_AMT_SEP'].astype(float)
clientsInfo['BILL_AMT_AUG']=clientsInfo['BILL_AMT_AUG'].astype(float)
clientsInfo['BILL_AMT_JUL']=clientsInfo['BILL_AMT_JUL'].astype(float)
clientsInfo['PAY_AMT_DEC']=clientsInfo['PAY_AMT_DEC'].astype(float)
clientsInfo['PAY_AMT_NOV']=clientsInfo['PAY_AMT_NOV'].astype(float)
clientsInfo['PAY_AMT_OCT']=clientsInfo['PAY_AMT_OCT'].astype(float)
clientsInfo['PAY_AMT_SEP']=clientsInfo['PAY_AMT_SEP'].astype(float)
clientsInfo['PAY_AMT_AUG']=clientsInfo['PAY_AMT_AUG'].astype(float)
clientsInfo['PAY_AMT_JUL']=clientsInfo['PAY_AMT_JUL'].astype(float)
clientsInfo = clientsInfo[clientsInfo.BIRTH_DATE != '#N/A']
clientsInfo = clientsInfo[clientsInfo.MARRIAGE != '#N/A']
clientsInfo

,CUST_COD,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,BIRTH_DATE,PAY_DEC,PAY_NOV,PAY_OCT,PAY_SEP,...,BILL_AMT_SEP,BILL_AMT_AUG,BILL_AMT_JUL,PAY_AMT_DEC,PAY_AMT_NOV,PAY_AMT_OCT,PAY_AMT_SEP,PAY_AMT_AUG,PAY_AMT_JUL,DEFAULTPAYMENTJAN
1,35524089,5664.584,M,university,married,04/01/1983,0,0,0,0,...,533.872135,-2.772665,-14.399969,149.068000,159.830710,29.813600,0.000000,0.000000,0.000000,1
2,58777007,6260.856,F,highschool,married,02/01/1975,0,0,-1,-1,...,-19.349026,-19.349026,-19.349026,59.627200,532.590150,16.963938,0.000000,0.000000,29.813600,0
3,26913418,8944.080,F,graduateschool,married,15/01/1977,-2,-2,-2,-2,...,88.546392,70.330282,253.177091,80.556347,217.221890,88.784901,70.628418,298.463950,216.416922,0
4,41993633,3577.632,F,graduateschool,married,09/01/1978,-1,-1,-1,-1,...,0.000000,569.439760,0.000000,119.254400,29.813600,0.000000,569.439760,0.000000,0.000000,1
5,46414261,2385.088,M,university,single,27/01/1989,2,0,0,0,...,1670.515635,1706.768973,1744.542804,107.716537,92.422160,59.627200,62.608560,65.589920,60.849558,1
6,10438751,596.272,M,university,married,08/01/1985,1,2,0,0,...,591.978842,570.840999,607.273218,0.000000,38.847121,20.571384,25.371374,50.683120,0.000000,1
7,19267237,10732.896,F,university,single,16/01/1983,-1,-1,-1,-1,...,146.444403,34.285640,0.000000,293.962096,254.518703,146.444403,0.000000,0.000000,277.087598,0
8,39470148,1490.680,M,university,single,07/01/1992,2,0,0,0,...,582.080726,1051.466045,479.969146,89.440800,38.757680,19.140331,18.245923,35.537811,17.888160,1
9,24381216,1490.680,F,university,married,19/01/1992,0,0,0,0,...,741.762368,778.075333,801.568450,59.627200,104.496668,59.627200,238.508800,119.254400,108.819640,1
10,25126380,2385.088,M,university,married,12/01/1973,1,2,0,0,...,2198.603932,2256.144180,2265.803786,37.594950,95.820910,89.440800,104.347600,67.557618,89.440800,0
11,30961119,4173.904,F,highschool,single,31/01/1982,-1,-1,-1,-1,...,4.501854,0.000000,17.113006,0.000000,75.994866,4.501854,0.000000,17.113006,27.368885,0
12,18897715,5366.448,M,highschool,married,28/01/1977,0,0,0,0,...,3733.080110,3913.810154,3400.241080,178.881600,178.881600,131.179840,268.322400,0.000000,119.254400,1
13,12696362,14906.800,F,graduateschool,married,06/01/1965,-1,-1,-1,0,...,728.793452,2320.332861,1819.494194,2593.544691,1111.212499,0.000000,1950.644221,36.402406,655.422182,0
15,19419760,2086.952,F,university,single,19/01/1992,2,2,-1,2,...,1738.669525,1844.418364,1898.977252,0.178882,1858.669265,0.000000,134.161200,89.440800,74.534000,0
16,35978526,7155.264,F,university,married,04/01/1960,0,0,0,0,...,5994.978315,6431.061842,6090.978107,193.788400,149.068000,1788.816000,520.664710,194.265418,596.331627,0
17,48361974,3577.632,F,graduateschool,single,09/01/1987,0,0,0,2,...,337.102375,420.431387,473.171646,89.440800,80.228398,0.000000,89.440800,59.627200,0.000000,1
18,27564131,6857.128,F,graduateschool,single,30/01/1987,0,0,-1,-1,...,154.583516,294.945945,344.853911,62.668187,89.440800,178.881600,149.068000,59.627200,59.627200,0
19,45489390,13416.120,M,university,single,15/01/1987,0,0,0,0,...,1305.925121,1875.692830,2430.672994,300.163325,300.372020,298.136000,596.272000,596.272000,155.030720,0
20,34687322,2086.952,F,university,single,15/01/1972,0,0,0,-1,...,2068.616636,897.478801,111.860627,92.422160,47.701760,2818.577744,33.510486,2.981360,92.153838,1
21,49190836,6260.856,F,university,single,26/01/1973,0,0,0,0,...,4769.430660,4124.681746,3350.184046,193.788400,196.799574,151.602156,121.848183,125.813392,825.955974,0
22,34005488,2981.360,F,graduateschool,single,22/01/1986,-1,-1,-1,-1,...,0.000000,0.000000,0.000000,1073.080905,82.643299,0.000000,0.000000,0.000000,0.000000,0
23,58996480,5962.720,F,highschool,married,16/01/1974,0,0,0,0,...,53.664480,24.417338,26.414850,40.099292,33.033469,19.945298,0.000000,26.414850,71.999844,0
24,41269151,596.272,F,highschool,single,04/01/1970,1,2,0,0,...,563.983871,558.021151,511.124358,0.000000,53.664480,47.701760,11.925440,0.000000,0.000000,0
25,54925120,7155.264,F,graduateschool,single,01/01/1988,0,0,0,0,...,6190.287209,5892.479158,5775.609846,268.322400,307.288775,268.739790,179.746194,179.298990,179.895262,0
26,56423387,8049.672,F,graduateschool,married,06/01/1966,-1,-1,-1,-1,...,104.347600,218.354806,282.215538,0.000000,181.803333,104.347600,218.354806,282.215538,68.452026,0
27,30681904,5962.720,M,university,single,21/01/1984,2,0,0,0,...,0.000000,0.000000,0.000000,226.583360,119.254400,0.000000,0.000000,0.000000,0.000000,1
28,10872689,1490.680,F,graduateschool,married,21/01/1983,2,2,2,2,...,1350.138690,1319.430682,1417.606866,102.081766,65.589920,59.627200,0.000000,119.254400,68.571280,1
30,23909810,11627.304,M,graduateschool,single,04/01/1988,-1,0,0,0,...,1327.987185,1360.424382,1365.254185,447.412695,313.907394,298.136000,52.859513,59.627200,47.463251,0
31,52207017,14906.800,F,university,single,16/01/1982,0,0,0,0,...,2821.887054,2198.275982,1863.916458,260.391982,1192.544000,116.630803,62.638374,1013.662400,954.035200,0
32,10985930,1490.680,M,university,married,24/01/1967,1,2,2,2,...,554.383892,605.901793,572.957765,29.813600,29.813600,29.813600,59.627200,0.000000,29.813600,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26854,59345371,2385.088,F,highschool,married,01/01/1959,0,0,0,0,...,1291.018321,1218.362578,1209.627193,101.664376,411.427680,106.046975,48.298032,45.316672,53.813548,0
26855,38917017,7453.400,M,highschool,married,02/01/1965,-2,-2,-2,-2,...,-0.536645,-0.536645,-0.536645,75.070645,0.000000,0.000000,0.000000,0.000000,0.000000,0
26856,18150248,9540.352,F,university,married,28/01/1970,-1,-1,-1,-1,...,549.405021,3.547818,280.724858,166.658024,253.087650,549.852225,0.000000,280.724858,69.406061,0
26857,30359860,1788.816,F,highschool,married,17/01/1968,0,0,0,0,...,1620.726923,1653.402629,1692.428631,59.627200,59.627200,89.440800,59.627200,65.589920,74.534000,0
26858,12501224,1490.680,F,university,married,17/01/1989,2,0,0,0,...,563.178904,902.994317,894.497441,51.398646,54.230938,79.423430,925.920975,31.721670,31.989993,0
26859,16291230,4770.176,M,university,married,28/01/1961,0,0,0,0,...,4621.883154,2356.794894,2417.555010,206.041790,193.788400,127.304072,75.070645,89.261918,0.000000,0
26860,28113457,5962.720,M,university,single,22/01/1984,-1,-1,-1,-1,...,282.364606,331.884995,287.194409,279.144737,331.497418,282.424233,332.123504,287.283850,704.644436,0
26861,41246587,1788.816,F,university,single,15/01/1992,0,0,0,0,...,688.038261,674.324005,714.035720,51.398646,47.701760,29.813600,29.813600,74.534000,38.757680,0
26862,54066738,3875.768,F,#N/A,married,12/01/1989,0,0,0,0,...,3649.661658,3716.354681,3786.178132,149.068000,149.068000,149.068000,149.068000,149.068000,119.254400,0
26863,18739212,7155.264,M,graduateschool,married,01/01/1978,-1,-1,-1,-1,...,427.586651,340.202990,89.619682,145.788504,124.143830,428.451246,340.202990,89.619682,397.594170,0
26864,33819049,10732.896,F,graduateschool,single,16/01/1990,-1,-1,-1,-1,...,150.976070,272.704999,180.908925,1318.774782,650.622193,151.721410,274.046611,181.803333,491.775332,0
26865,56557786,2981.360,F,university,married,03/01/1987,0,0,0,0,...,3311.664874,3197.717295,3141.667727,167.373550,166.956160,163.974800,134.161200,149.068000,178.881600,0
26866,13716505,2683.224,M,university,married,01/01/1975,0,0,0,0,...,1360.692704,1376.642980,1392.772138,81.957586,65.768802,33.182537,33.838436,34.375081,33.808622,0
26867,45450853,596.272,M,highschool,single,18/01/1993,-1,-1,-1,0,...,122.623337,116.571176,75.935239,190.628158,204.193346,2.444715,2.325461,1.520494,492.580299,0
26868,11793143,4472.040,F,graduateschool,married,31/01/1972,1,-2,-1,-1,...,0.000000,0.000000,0.000000,0.000000,45.078163,0.000000,0.000000,0.000000,0.000000,0
26869,21668582,2086.952,F,highschool,married,14/01/1975,0,0,0,0,...,472.962950,445.325743,382.836438,46.896793,40.397428,35.865761,15.383818,14.906800,14.906800,0
26870,25463704,1788.816,F,university,married,12/01/1968,0,0,0,0,...,1544.582989,505.072198,515.626212,59.627200,62.608560,41.739040,17.888160,29.813600,29.813600,1
26871,59280401,12223.576,M,university,married,09/01/1970,-1,-1,-1,-1,...,153.987244,150.081662,92.094210,86.936458,398.876154,154.434448,174.439374,92.094210,186.961086,0
26872,14002717,6260.856,M,graduateschool,single,23/01/1976,-1,-1,-1,-1,...,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,9.689420,1
26873,52401917,1788.816,M,highschool,married,30/01/1962,0,0,0,0,...,892.648998,39.980038,55.930314,596.272000,89.440800,89.440800,29.813600,59.627200,745.340000,0
26874,37920588,8944.080,F,highschool,single,28/01/1987,-2,-2,-2,-2,...,5.813652,6.231042,29.515464,841.697555,107.001010,5.813652,6.260856,29.634718,0.000000,1
26875,50590055,8944.080,F,graduateschool,single,28/01/1983,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
26876,35655121,1490.680,M,university,married,01/01/1978,0,0,0,0,...,548.421172,548.152850,549.166512,59.627200,596.272000,20.869520,19.826044,21.674487,15.055868,0
26877,54066637,1490.680,M,university,single,19/01/1988,0,0,0,0,...,1229.989882,1310.665483,1339.018217,50.683120,59.627200,50.683120,101.366240,53.664480,0.000000,0
26878,38222884,596.272,M,highschool,married,29/01/1977,-1,2,2,2,...,0.000000,23.254608,0.000000,11.627304,0.000000,0.000000,23.254608,0.000000,0.000000,0
26879,39910611,298.136,M,university,single,12/01/1981,0,0,0,0,...,288.148444,277.177039,165.614548,68.571280,29.813600,29.813600,29.813600,59.627200,92.243278,0
26880,42336988,2086.952,F,university,married,09/01/1982,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,116.899126,190.956108,0.000000,0.000000,0.000000,0.000000,0
26881,15960532,1490.680,M,university,single,03/01/1979,0,0,0,0,...,1464.742168,1450.670149,0.000000,61.535270,59.776268,40.755191,50.683120,0.000000,0.000000,0
26882,47753376,9838.488,M,highschool,married,06/01/1970,0,0,0,0,...,6785.187783,6790.792740,6803.552961,244.769656,241.341092,239.254140,243.726180,250.165918,244.471520,0
26883,30940820,11925.440,F,university,single,14/01/1973,-2,-2,-2,-2,...,14.668291,444.997794,227.358514,548.570240,447.204000,14.668291,447.204000,230.310060,89.440800,0

In [540]:
clientsInfo['BIRTH_DATE'] = pd.to_datetime(clientsInfo['BIRTH_DATE'])
#clientsInfo['BIRTH_DATE']

In [541]:
clientsInfo['DEFAULTPAYMENTJAN'] = clientsInfo['DEFAULTPAYMENTJAN'].astype(int)

In [542]:
clientsInfo['PAY_DEC']=clientsInfo['PAY_DEC'].astype(int)
clientsInfo['PAY_NOV']=clientsInfo['PAY_NOV'].astype(int)
clientsInfo['PAY_OCT']=clientsInfo['PAY_OCT'].astype(int)
clientsInfo['PAY_SEP']=clientsInfo['PAY_SEP'].astype(int)
clientsInfo['PAY_AUG']=clientsInfo['PAY_AUG'].astype(int)
clientsInfo['PAY_JUL']=clientsInfo['PAY_JUL'].astype(int)

In [543]:
target = clientsInfo['DEFAULTPAYMENTJAN'].values
numeric_features=clientsInfo[['CUST_COD','PAY_DEC', 'PAY_NOV', 'PAY_OCT', 'PAY_SEP',
       'PAY_AUG', 'PAY_JUL', 'BILL_AMT_DEC', 'BILL_AMT_NOV',
       'BILL_AMT_OCT', 'BILL_AMT_SEP', 'BILL_AMT_AUG', 'BILL_AMT_JUL',
       'PAY_AMT_DEC', 'PAY_AMT_NOV', 'PAY_AMT_OCT', 'PAY_AMT_SEP',
       'PAY_AMT_AUG', 'PAY_AMT_JUL']].values

In [544]:
my_tree = tree.DecisionTreeClassifier()
my_tree = my_tree.fit(numeric_features, target)

In [545]:
print(my_tree.feature_importances_)
print(my_tree.score(numeric_features, target))

[ 0.13762311  0.1622148   0.03591871  0.01004278  0.00634712  0.01228089
  0.00947835  0.06876909  0.05238752  0.04008045  0.04826511  0.04487996
  0.06108398  0.05101871  0.05200427  0.05624266  0.04833977  0.04769462
  0.05532809]
1.0

In [546]:
clientsInfo['MARRIAGE'] = np.where(clientsInfo['MARRIAGE']== 'single', 0,1)

In [547]:
clientsInfo['EDUCATION'] = np.where(clientsInfo['EDUCATION']== 'university', 0,np.where(clientsInfo['EDUCATION']== 'highschool',1,2))
#clientsInfo['EDUCATION']

In [548]:
features = clientsInfo[['CUST_COD','PAY_DEC', 'PAY_NOV', 'PAY_OCT', 'PAY_SEP',
       'PAY_AUG', 'PAY_JUL', 'BILL_AMT_DEC', 'BILL_AMT_NOV',
       'BILL_AMT_OCT', 'BILL_AMT_SEP', 'BILL_AMT_AUG', 'BILL_AMT_JUL',
       'PAY_AMT_DEC', 'PAY_AMT_NOV', 'PAY_AMT_OCT', 'PAY_AMT_SEP',
       'PAY_AMT_AUG', 'PAY_AMT_JUL','MARRIAGE','EDUCATION']].values

In [549]:
my_tree = tree.DecisionTreeClassifier()
my_tree = my_tree.fit(features, target)

In [550]:
print(my_tree.feature_importances_)
print(my_tree.score(features, target))

[ 0.12888802  0.16004384  0.03626733  0.01044799  0.00700807  0.01353198
  0.00896416  0.06504327  0.05089218  0.04460314  0.04174085  0.04114042
  0.05517484  0.04926807  0.04799365  0.05763153  0.04706255  0.04750868
  0.05322219  0.01445422  0.01911305]
1.0

In [551]:
my_prediction = my_tree.predict(features)
print accuracy_score(target, my_prediction)
print precision_recall_curve(target, my_prediction)
print f1_score(target, my_prediction)

1.0
(array([ 1.,  1.]), array([ 1.,  0.]), array([1]))
1.0

# Test Data Prediction

In [552]:
url = "/Users/sorooshnazem/Downloads/Dataset/test.csv"
clients_test = pd.read_csv(url)
clientsInfo_test=pd.DataFrame()
columns=(str(clients_test.columns.values).split(';'))
for value in columns:
    value=value.translate(None, "[]'\" ") 
    clientsInfo_test[value] = 0

In [553]:
for i in range(0,len(clients_test.as_matrix())):
#for i in range(0,100):
    recordValues=(str(clients_test.as_matrix()[i])).split(';')
    recordValues=[value.translate(None, "[]'\" ") for value in recordValues]
    clientsInfo_test.loc[i]=recordValues

In [554]:
clientsInfo_test

,CUST_COD,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,BIRTH_DATE,PAY_DEC,PAY_NOV,PAY_OCT,PAY_SEP,...,BILL_AMT_SEP,BILL_AMT_AUG,BILL_AMT_JUL,PAY_AMT_DEC,PAY_AMT_NOV,PAY_AMT_OCT,PAY_AMT_SEP,PAY_AMT_AUG,PAY_AMT_JUL,DEFAULTPAYMENTJAN
0,70696449,13117.984,M,graduateschool,married,1985-01-05T00:05:00,-1,0,0,0,...,394.9407592,225.8976472,49.2520672,149.7537128,90.1563264,31.0955848,90.5439032,49.490576,10.881964,
1,76505586,596.272,M,university,single,1980-01-13T00:11:00,0,0,0,2,...,582.3490488,594.1254208,587.178852,38.75768,98.38488,0,29.8136,29.8136,26.83224,
2,88442515,1490.68,F,university,married,1982-01-10T00:04:00,0,0,0,0,...,445.6835064,493.9219112,501.6436336,36.4024056,59.6272,44.7204,59.6272,59.6272,119.2544,
3,73457138,5962.72,F,graduateschool,single,1989-01-17T00:10:00,-1,-1,-1,0,...,126.4692912,121.7587424,221.0380304,19.826044,28.621056,116.5115488,30.2309904,104.3476,85.863168,
4,68367768,5366.448,M,university,single,1975-01-13T00:09:00,-2,-2,-2,-2,...,0,0,0,26.83224,27.130376,0,0,0,0,
5,82218518,298.136,M,highschool,single,1991-01-07T00:12:00,0,0,0,0,...,557.9317104,291.6068216,297.5099144,38.5787984,73.490524,14.9068,29.8136,14.9068,0,
6,60534292,4770.176,F,university,single,1983-01-17T00:06:00,0,0,0,0,...,4171.608353,4198.202084,4171.966116,193.7884,155.3586696,149.068,149.068,149.068,149.068,
7,67281056,7453.4,F,university,married,1978-01-02T00:03:00,0,0,0,0,...,6982.494188,7122.230531,7529.812257,316.173228,278.0714472,249.3013232,268.3224,543.9193184,0,
8,75445133,2385.088,M,university,single,1977-01-01T00:01:00,3,2,0,0,...,711.5611912,689.588568,0,0,88.4867648,55.6619912,13.8036968,0,0,
9,75817746,3875.768,F,university,married,1984-01-21T00:10:00,0,0,0,0,...,3571.192262,3506.228428,3586.784775,178.8816,149.068,135.0854216,149.068,137.0233056,298.136,
10,70314517,2683.224,F,university,married,1989-01-01T00:12:00,3,2,2,2,...,2539.760957,2597.122323,5054.389049,178.8816,119.2544,0,125.21712,97.937676,232.1585032,
11,63470230,1490.68,F,highschool,married,1985-01-01T00:05:00,0,0,0,0,...,831.203168,832.842916,784.5150704,57.0632304,56.64584,44.0645008,34.9415392,59.776268,29.8136,
12,89493515,10732.896,F,university,married,1969-01-04T00:02:00,-1,-1,-1,-1,...,1681.397599,1308.280395,650.4731248,107.925232,228.2529216,1681.397599,0,0,361.2513912,
13,72265663,2981.36,F,highschool,single,1970-01-29T00:12:00,2,-1,2,0,...,10.881964,0,0,28.7403104,0,0,0,0,8.9738936,
14,76103256,11627.304,F,graduateschool,single,1991-01-20T00:02:00,0,0,0,0,...,804.7286912,998.2487688,1116.966524,119.2544,149.068,340.3818712,298.136,298.136,149.068,
15,88544901,894.408,F,graduateschool,single,1992-01-28T00:03:00,0,0,2,2,...,0,0,0,59.6272,0,0,0,0,0,
16,67597964,1788.816,M,university,single,1967-01-15T00:08:00,0,0,0,0,...,716.2121128,601.48938,481.1020632,1154.054642,47.9700824,19.7067896,19.5577216,29.8136,149.068,
17,67013221,1490.68,F,university,single,1960-01-03T00:02:00,0,0,0,0,...,525.0771232,580.2024696,556.321776,64.993648,65.7091744,19.5577216,64.3675624,20.2136208,25.3713736,
18,72361455,13117.984,M,graduateschool,married,1937-01-20T00:01:00,0,0,0,0,...,13330.01832,13063.93194,13342.86798,468.520724,492.4908584,492.3119768,471.05488,492.8486216,467.3878072,
19,66510666,6558.992,M,university,married,1971-01-01T00:03:00,0,0,0,0,...,5171.317988,2625.475057,2690.379264,193.7884,178.8816,134.1612,89.4408,89.4408,89.4408,
20,89412257,10434.76,F,highschool,married,1980-01-06T00:07:00,0,0,2,0,...,7789.190577,7619.342498,7600.708998,984.146936,0,328.5756856,274.28512,253.4156,247.45288,
21,82310843,1788.816,F,graduateschool,married,1988-01-02T00:05:00,0,0,0,0,...,1502.158236,1551.648812,1570.01399,62.60856,74.534,74.534,74.534,47.70176,44.7204,
22,80276302,1490.68,F,university,married,1980-01-18T00:05:00,0,0,0,0,...,246.2901496,251.4479024,260.5112368,64.8147664,53.217276,8.8248256,9.1229616,13.2372384,318.5881296,
23,71261906,5366.448,F,highschool,married,1975-01-02T00:01:00,0,0,2,2,...,70.8073,56.9737896,32.198688,111.6221184,0,86.7873896,0.2683224,32.198688,29.515464,
24,85000545,7155.264,M,graduateschool,single,1987-01-30T00:12:00,0,0,0,0,...,1948.974659,858.5422392,5513.190539,156.0145688,98.0569304,61.7737792,89.9774448,5513.190539,181.86296,
25,83217029,5962.72,M,graduateschool,single,1987-01-30T00:03:00,1,-2,-1,2,...,53.366344,53.366344,10.43476,0,70.0023328,0,0,10.43476,76.620952,
26,83473482,894.408,M,highschool,single,1957-01-10T00:08:00,0,0,0,0,...,882.2738648,833.3497472,0,59.925336,44.7204,23.4931168,16.6658024,0,0,
27,70737382,11627.304,M,graduateschool,single,1984-01-18T00:09:00,0,0,0,0,...,1155.873272,116.6904304,195.8157248,53.0980216,65.2321568,29.8136,255.5621792,195.8157248,340.3520576,
28,64411366,2981.36,M,university,single,1987-01-19T00:10:00,2,0,0,0,...,1398.615603,1482.183124,1454.635358,77.51536,65.58992,65.58992,116.27304,0,181.86296,
29,82043605,4472.04,M,graduateschool,single,1986-01-09T00:01:00,0,0,0,0,...,4114.068105,2704.540724,2765.479722,394.433928,932.569408,178.2555144,231.353536,178.8816,7751.536,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3086,82194090,2981.36,F,university,single,29/01/1989,2,3,3,2,...,2891.17386,3019.521408,3039.049316,86.45944,38.75768,89.4408,162.48412,59.6272,0,
3087,81016326,4173.904,F,graduateschool,single,22/01/1988,0,0,0,0,...,2736.948107,2805.87715,2719.030134,149.068,149.068,107.32896,119.2544,119.2544,119.2544,
3088,77834502,1788.816,F,graduateschool,single,18/01/1992,0,0,0,2,...,1684.229891,1716.219884,1686.525538,80.49672,143.10528,0,62.60856,65.58992,74.534,
3089,75200650,5068.312,M,university,married,09/01/1989,-1,-1,-1,-1,...,39.8607832,39.8607832,1606.505836,0,42.0073624,39.8607832,0,1606.505836,59.6272,
3090,88822627,4770.176,F,graduateschool,married,29/01/1974,-1,-1,-1,-1,...,63.9799856,75.5476624,66.8420912,131.6866712,31.5427888,63.9799856,75.5476624,66.8420912,67.1998544,
3091,75177250,5962.72,F,graduateschool,single,11/01/1981,0,0,0,0,...,2169.416418,2100.189238,2057.227841,119.2544,119.2544,149.4257632,119.2544,89.4408,119.2544,
3092,75069952,4472.04,F,university,married,21/01/1981,-2,-2,-2,-2,...,0,53.66448,0,264.0292416,200.6753416,0,53.66448,0,0,
3093,86156412,8944.08,F,university,married,02/01/1988,0,0,0,-1,...,863.401856,792.7138104,541.7429256,40.9340728,30.111736,1262.546333,0,0,5.1577528,
3094,83669148,1788.816,F,graduateschool,single,25/01/1992,0,0,0,0,...,520.4560152,637.5936496,129.391024,46.3005208,35.77632,10.4049464,159.353692,0,9.4210976,
3095,75743975,596.272,F,university,single,10/01/1994,0,0,0,0,...,0,0,572.1527976,33.6595544,29.8732272,0,0,572.1527976,0,
3096,79557147,12521.712,M,graduateschool,single,15/01/1982,0,0,0,0,...,4224.438052,4318.17201,4411.041374,208.6952,208.6952,163.9748,163.9748,166.95616,149.068,
3097,64849114,1490.68,F,highschool,married,27/01/1971,0,0,0,0,...,214.4790384,218.7125696,223.303864,32.4371968,33.093096,33.391232,7.8111632,8.1092992,8.1391128,
3098,75663121,298.136,F,university,single,09/01/1976,0,0,0,0,...,212.4815272,206.6380616,198.558576,33.4806728,32.8844008,7.2447048,8.8248256,8.347808,0.4770176,
3099,76618336,10732.896,M,graduateschool,married,12/01/1967,-1,-1,-1,-1,...,22.3602,27.726648,16.099344,11.627304,11.627304,22.3602,27.726648,4.47204,16.099344,
3100,76629456,10732.896,M,graduateschool,married,06/01/1981,-1,-1,-1,-2,...,0,0,0,26.83224,0,0,0,0,0,
3101,81192663,5366.448,F,university,married,04/01/1970,1,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,
3102,64712680,5962.72,M,university,married,13/01/1988,2,2,7,7,...,72.8346248,72.8346248,72.8346248,0,0,0,0,0,0,
3103,71432340,8944.08,#N/A,graduateschool,single,17/01/1986,-2,-2,-2,-2,...,0,0,0,0,0,0,0,0,0,
3104,82452055,6857.128,#N/A,graduateschool,single,29/01/1991,0,0,0,0,...,395.2687088,371.4476424,205.2964496,149.068,149.068,89.4408,19.9452984,149.068,566.4584,
3105,69680549,3279.496,F,university,married,26/01/1977,0,0,0,0,...,3366.313203,2560.511222,2616.56079,149.068,149.068,107.32896,95.40352,119.2544,89.4408,
3106,79094411,4472.04,M,graduateschool,single,17/01/1984,0,0,2,2,...,1705.636056,1701.879542,393.3606384,190.657972,0,62.60856,6.6186192,29.8136,19.37884,
3107,69097211,3577.632,M,university,other,14/01/1974,0,0,0,0,...,192.0592112,214.1212752,240.2081752,44.7204,35.77632,29.8136,29.8136,29.8136,29.8136,
3108,70597333,9540.352,F,graduateschool,single,01/01/1983,-1,-1,2,0,...,210.5138296,38.4297304,10.881964,314.53348,0,0,0,10.881964,361.042696,
3109,80555348,6558.992,F,graduateschool,single,15/01/1987,0,0,0,0,...,1121.110614,463.303344,606.110488,149.068,149.3065088,208.6952,119.2544,149.068,4.47204,
3110,80516644,6260.856,M,graduateschool,married,19/01/1964,0,0,0,-1,...,332.123504,252.3124968,310.2403216,53.4557848,245.7236912,357.7632,254.4292624,327.9496,223.602,
3111,84676486,2981.36,F,university,single,21/01/1987,2,0,0,0,...,994.730764,872.345936,896.5843928,47.6719464,59.6272,44.7204,44.7204,38.75768,119.2544,
3112,63897368,1490.68,M,university,single,03/01/1975,0,0,0,0,...,569.3205056,585.8968672,563.1490904,54.9762784,136.0096432,19.8856712,25.2521192,20.86952,19.527908,
3113,74193459,9838.488,F,graduateschool,married,03/01/1980,1,-2,-2,-1,...,13.9825784,4.47204,109.1475896,0,0,13.9825784,4.47204,109.1475896,113.29168,
3114,76865298,298.136,F,university,single,05/01/1994,5,4,3,2,...,230.160992,245.1870464,236.8392384,0,0,0,23.1949808,0,4.7105488,
3115,74052482,5366.448,F,graduateschool,single,18/01/1986,0,0,-1,0,...,246.0218272,0,0,35.925388,280.3074672,0,0,0,0,

In [555]:
clientsInfo_test['CUST_COD'] = clientsInfo_test['CUST_COD'].astype(int)
clientsInfo_test['LIMIT_BAL'] = clientsInfo_test['LIMIT_BAL'].astype(float)
clientsInfo_test['BILL_AMT_DEC']=clientsInfo_test['BILL_AMT_DEC'].astype(float)
clientsInfo_test['BILL_AMT_NOV']=clientsInfo_test['BILL_AMT_NOV'].astype(float)
clientsInfo_test['BILL_AMT_OCT']=clientsInfo_test['BILL_AMT_OCT'].astype(float)
clientsInfo_test['BILL_AMT_SEP']=clientsInfo_test['BILL_AMT_SEP'].astype(float)
clientsInfo_test['BILL_AMT_AUG']=clientsInfo_test['BILL_AMT_AUG'].astype(float)
clientsInfo_test['BILL_AMT_JUL']=clientsInfo_test['BILL_AMT_JUL'].astype(float)
clientsInfo_test['PAY_AMT_DEC']=clientsInfo_test['PAY_AMT_DEC'].astype(float)
clientsInfo_test['PAY_AMT_NOV']=clientsInfo_test['PAY_AMT_NOV'].astype(float)
clientsInfo_test['PAY_AMT_OCT']=clientsInfo_test['PAY_AMT_OCT'].astype(float)
clientsInfo_test['PAY_AMT_SEP']=clientsInfo_test['PAY_AMT_SEP'].astype(float)
clientsInfo_test['PAY_AMT_AUG']=clientsInfo_test['PAY_AMT_AUG'].astype(float)
clientsInfo_test['PAY_AMT_JUL']=clientsInfo_test['PAY_AMT_JUL'].astype(float)
clientsInfo_test = clientsInfo_test[clientsInfo_test.BIRTH_DATE != '#N/A']
clientsInfo_test = clientsInfo_test[clientsInfo_test.MARRIAGE != '#N/A']
clientsInfo_test

,CUST_COD,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,BIRTH_DATE,PAY_DEC,PAY_NOV,PAY_OCT,PAY_SEP,...,BILL_AMT_SEP,BILL_AMT_AUG,BILL_AMT_JUL,PAY_AMT_DEC,PAY_AMT_NOV,PAY_AMT_OCT,PAY_AMT_SEP,PAY_AMT_AUG,PAY_AMT_JUL,DEFAULTPAYMENTJAN
0,70696449,13117.984,M,graduateschool,married,1985-01-05T00:05:00,-1,0,0,0,...,394.940759,225.897647,49.252067,149.753713,90.156326,31.095585,90.543903,49.490576,10.881964,
1,76505586,596.272,M,university,single,1980-01-13T00:11:00,0,0,0,2,...,582.349049,594.125421,587.178852,38.757680,98.384880,0.000000,29.813600,29.813600,26.832240,
2,88442515,1490.680,F,university,married,1982-01-10T00:04:00,0,0,0,0,...,445.683506,493.921911,501.643634,36.402406,59.627200,44.720400,59.627200,59.627200,119.254400,
3,73457138,5962.720,F,graduateschool,single,1989-01-17T00:10:00,-1,-1,-1,0,...,126.469291,121.758742,221.038030,19.826044,28.621056,116.511549,30.230990,104.347600,85.863168,
4,68367768,5366.448,M,university,single,1975-01-13T00:09:00,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,26.832240,27.130376,0.000000,0.000000,0.000000,0.000000,
5,82218518,298.136,M,highschool,single,1991-01-07T00:12:00,0,0,0,0,...,557.931710,291.606822,297.509914,38.578798,73.490524,14.906800,29.813600,14.906800,0.000000,
6,60534292,4770.176,F,university,single,1983-01-17T00:06:00,0,0,0,0,...,4171.608353,4198.202084,4171.966116,193.788400,155.358670,149.068000,149.068000,149.068000,149.068000,
7,67281056,7453.400,F,university,married,1978-01-02T00:03:00,0,0,0,0,...,6982.494188,7122.230531,7529.812257,316.173228,278.071447,249.301323,268.322400,543.919318,0.000000,
8,75445133,2385.088,M,university,single,1977-01-01T00:01:00,3,2,0,0,...,711.561191,689.588568,0.000000,0.000000,88.486765,55.661991,13.803697,0.000000,0.000000,
9,75817746,3875.768,F,university,married,1984-01-21T00:10:00,0,0,0,0,...,3571.192262,3506.228428,3586.784775,178.881600,149.068000,135.085422,149.068000,137.023306,298.136000,
10,70314517,2683.224,F,university,married,1989-01-01T00:12:00,3,2,2,2,...,2539.760957,2597.122323,5054.389049,178.881600,119.254400,0.000000,125.217120,97.937676,232.158503,
11,63470230,1490.680,F,highschool,married,1985-01-01T00:05:00,0,0,0,0,...,831.203168,832.842916,784.515070,57.063230,56.645840,44.064501,34.941539,59.776268,29.813600,
12,89493515,10732.896,F,university,married,1969-01-04T00:02:00,-1,-1,-1,-1,...,1681.397599,1308.280395,650.473125,107.925232,228.252922,1681.397599,0.000000,0.000000,361.251391,
13,72265663,2981.360,F,highschool,single,1970-01-29T00:12:00,2,-1,2,0,...,10.881964,0.000000,0.000000,28.740310,0.000000,0.000000,0.000000,0.000000,8.973894,
14,76103256,11627.304,F,graduateschool,single,1991-01-20T00:02:00,0,0,0,0,...,804.728691,998.248769,1116.966524,119.254400,149.068000,340.381871,298.136000,298.136000,149.068000,
15,88544901,894.408,F,graduateschool,single,1992-01-28T00:03:00,0,0,2,2,...,0.000000,0.000000,0.000000,59.627200,0.000000,0.000000,0.000000,0.000000,0.000000,
16,67597964,1788.816,M,university,single,1967-01-15T00:08:00,0,0,0,0,...,716.212113,601.489380,481.102063,1154.054642,47.970082,19.706790,19.557722,29.813600,149.068000,
17,67013221,1490.680,F,university,single,1960-01-03T00:02:00,0,0,0,0,...,525.077123,580.202470,556.321776,64.993648,65.709174,19.557722,64.367562,20.213621,25.371374,
18,72361455,13117.984,M,graduateschool,married,1937-01-20T00:01:00,0,0,0,0,...,13330.018320,13063.931940,13342.867980,468.520724,492.490858,492.311977,471.054880,492.848622,467.387807,
19,66510666,6558.992,M,university,married,1971-01-01T00:03:00,0,0,0,0,...,5171.317988,2625.475057,2690.379264,193.788400,178.881600,134.161200,89.440800,89.440800,89.440800,
20,89412257,10434.760,F,highschool,married,1980-01-06T00:07:00,0,0,2,0,...,7789.190577,7619.342498,7600.708998,984.146936,0.000000,328.575686,274.285120,253.415600,247.452880,
21,82310843,1788.816,F,graduateschool,married,1988-01-02T00:05:00,0,0,0,0,...,1502.158236,1551.648812,1570.013990,62.608560,74.534000,74.534000,74.534000,47.701760,44.720400,
22,80276302,1490.680,F,university,married,1980-01-18T00:05:00,0,0,0,0,...,246.290150,251.447902,260.511237,64.814766,53.217276,8.824826,9.122962,13.237238,318.588130,
23,71261906,5366.448,F,highschool,married,1975-01-02T00:01:00,0,0,2,2,...,70.807300,56.973790,32.198688,111.622118,0.000000,86.787390,0.268322,32.198688,29.515464,
24,85000545,7155.264,M,graduateschool,single,1987-01-30T00:12:00,0,0,0,0,...,1948.974659,858.542239,5513.190539,156.014569,98.056930,61.773779,89.977445,5513.190539,181.862960,
25,83217029,5962.720,M,graduateschool,single,1987-01-30T00:03:00,1,-2,-1,2,...,53.366344,53.366344,10.434760,0.000000,70.002333,0.000000,0.000000,10.434760,76.620952,
26,83473482,894.408,M,highschool,single,1957-01-10T00:08:00,0,0,0,0,...,882.273865,833.349747,0.000000,59.925336,44.720400,23.493117,16.665802,0.000000,0.000000,
27,70737382,11627.304,M,graduateschool,single,1984-01-18T00:09:00,0,0,0,0,...,1155.873272,116.690430,195.815725,53.098022,65.232157,29.813600,255.562179,195.815725,340.352058,
28,64411366,2981.360,M,university,single,1987-01-19T00:10:00,2,0,0,0,...,1398.615603,1482.183124,1454.635358,77.515360,65.589920,65.589920,116.273040,0.000000,181.862960,
29,82043605,4472.040,M,graduateschool,single,1986-01-09T00:01:00,0,0,0,0,...,4114.068105,2704.540724,2765.479722,394.433928,932.569408,178.255514,231.353536,178.881600,7751.536000,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3086,82194090,2981.360,F,university,single,29/01/1989,2,3,3,2,...,2891.173860,3019.521408,3039.049316,86.459440,38.757680,89.440800,162.484120,59.627200,0.000000,
3087,81016326,4173.904,F,graduateschool,single,22/01/1988,0,0,0,0,...,2736.948107,2805.877150,2719.030134,149.068000,149.068000,107.328960,119.254400,119.254400,119.254400,
3088,77834502,1788.816,F,graduateschool,single,18/01/1992,0,0,0,2,...,1684.229891,1716.219884,1686.525538,80.496720,143.105280,0.000000,62.608560,65.589920,74.534000,
3089,75200650,5068.312,M,university,married,09/01/1989,-1,-1,-1,-1,...,39.860783,39.860783,1606.505836,0.000000,42.007362,39.860783,0.000000,1606.505836,59.627200,
3090,88822627,4770.176,F,graduateschool,married,29/01/1974,-1,-1,-1,-1,...,63.979986,75.547662,66.842091,131.686671,31.542789,63.979986,75.547662,66.842091,67.199854,
3091,75177250,5962.720,F,graduateschool,single,11/01/1981,0,0,0,0,...,2169.416418,2100.189238,2057.227841,119.254400,119.254400,149.425763,119.254400,89.440800,119.254400,
3092,75069952,4472.040,F,university,married,21/01/1981,-2,-2,-2,-2,...,0.000000,53.664480,0.000000,264.029242,200.675342,0.000000,53.664480,0.000000,0.000000,
3093,86156412,8944.080,F,university,married,02/01/1988,0,0,0,-1,...,863.401856,792.713810,541.742926,40.934073,30.111736,1262.546333,0.000000,0.000000,5.157753,
3094,83669148,1788.816,F,graduateschool,single,25/01/1992,0,0,0,0,...,520.456015,637.593650,129.391024,46.300521,35.776320,10.404946,159.353692,0.000000,9.421098,
3095,75743975,596.272,F,university,single,10/01/1994,0,0,0,0,...,0.000000,0.000000,572.152798,33.659554,29.873227,0.000000,0.000000,572.152798,0.000000,
3096,79557147,12521.712,M,graduateschool,single,15/01/1982,0,0,0,0,...,4224.438052,4318.172010,4411.041374,208.695200,208.695200,163.974800,163.974800,166.956160,149.068000,
3097,64849114,1490.680,F,highschool,married,27/01/1971,0,0,0,0,...,214.479038,218.712570,223.303864,32.437197,33.093096,33.391232,7.811163,8.109299,8.139113,
3098,75663121,298.136,F,university,single,09/01/1976,0,0,0,0,...,212.481527,206.638062,198.558576,33.480673,32.884401,7.244705,8.824826,8.347808,0.477018,
3099,76618336,10732.896,M,graduateschool,married,12/01/1967,-1,-1,-1,-1,...,22.360200,27.726648,16.099344,11.627304,11.627304,22.360200,27.726648,4.472040,16.099344,
3100,76629456,10732.896,M,graduateschool,married,06/01/1981,-1,-1,-1,-2,...,0.000000,0.000000,0.000000,26.832240,0.000000,0.000000,0.000000,0.000000,0.000000,
3101,81192663,5366.448,F,university,married,04/01/1970,1,-2,-2,-2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,
3102,64712680,5962.720,M,university,married,13/01/1988,2,2,7,7,...,72.834625,72.834625,72.834625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,
3103,71432340,8944.080,#N/A,graduateschool,single,17/01/1986,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,
3104,82452055,6857.128,#N/A,graduateschool,single,29/01/1991,0,0,0,0,...,395.268709,371.447642,205.296450,149.068000,149.068000,89.440800,19.945298,149.068000,566.458400,
3105,69680549,3279.496,F,university,married,26/01/1977,0,0,0,0,...,3366.313203,2560.511222,2616.560790,149.068000,149.068000,107.328960,95.403520,119.254400,89.440800,
3106,79094411,4472.040,M,graduateschool,single,17/01/1984,0,0,2,2,...,1705.636056,1701.879542,393.360638,190.657972,0.000000,62.608560,6.618619,29.813600,19.378840,
3107,69097211,3577.632,M,university,other,14/01/1974,0,0,0,0,...,192.059211,214.121275,240.208175,44.720400,35.776320,29.813600,29.813600,29.813600,29.813600,
3108,70597333,9540.352,F,graduateschool,single,01/01/1983,-1,-1,2,0,...,210.513830,38.429730,10.881964,314.533480,0.000000,0.000000,0.000000,10.881964,361.042696,
3109,80555348,6558.992,F,graduateschool,single,15/01/1987,0,0,0,0,...,1121.110614,463.303344,606.110488,149.068000,149.306509,208.695200,119.254400,149.068000,4.472040,
3110,80516644,6260.856,M,graduateschool,married,19/01/1964,0,0,0,-1,...,332.123504,252.312497,310.240322,53.455785,245.723691,357.763200,254.429262,327.949600,223.602000,
3111,84676486,2981.360,F,university,single,21/01/1987,2,0,0,0,...,994.730764,872.345936,896.584393,47.671946,59.627200,44.720400,44.720400,38.757680,119.254400,
3112,63897368,1490.680,M,university,single,03/01/1975,0,0,0,0,...,569.320506,585.896867,563.149090,54.976278,136.009643,19.885671,25.252119,20.869520,19.527908,
3113,74193459,9838.488,F,graduateschool,married,03/01/1980,1,-2,-2,-1,...,13.982578,4.472040,109.147590,0.000000,0.000000,13.982578,4.472040,109.147590,113.291680,
3114,76865298,298.136,F,university,single,05/01/1994,5,4,3,2,...,230.160992,245.187046,236.839238,0.000000,0.000000,0.000000,23.194981,0.000000,4.710549,
3115,74052482,5366.448,F,graduateschool,single,18/01/1986,0,0,-1,0,...,246.021827,0.000000,0.000000,35.925388,280.307467,0.000000,0.000000,0.000000,0.000000,

In [556]:
clientsInfo_test['PAY_DEC']=clientsInfo_test['PAY_DEC'].astype(int)
clientsInfo_test['PAY_NOV']=clientsInfo_test['PAY_NOV'].astype(int)
clientsInfo_test['PAY_OCT']=clientsInfo_test['PAY_OCT'].astype(int)
clientsInfo_test['PAY_SEP']=clientsInfo_test['PAY_SEP'].astype(int)
clientsInfo_test['PAY_AUG']=clientsInfo_test['PAY_AUG'].astype(int)
clientsInfo_test['PAY_JUL']=clientsInfo_test['PAY_JUL'].astype(int)
clientsInfo_test['MARRIAGE'] = np.where(clientsInfo_test['MARRIAGE']== 'single', 0,1)
clientsInfo_test['EDUCATION'] = np.where(clientsInfo_test['EDUCATION']== 'university', 0,np.where(clientsInfo_test['EDUCATION']== 'highschool',1,2))

In [557]:
features_test = clientsInfo_test[['CUST_COD','PAY_DEC', 'PAY_NOV', 'PAY_OCT', 'PAY_SEP',
       'PAY_AUG', 'PAY_JUL', 'BILL_AMT_DEC', 'BILL_AMT_NOV',
       'BILL_AMT_OCT', 'BILL_AMT_SEP', 'BILL_AMT_AUG', 'BILL_AMT_JUL',
       'PAY_AMT_DEC', 'PAY_AMT_NOV', 'PAY_AMT_OCT', 'PAY_AMT_SEP',
       'PAY_AMT_AUG', 'PAY_AMT_JUL','MARRIAGE','EDUCATION']].values
target_test = clientsInfo_test[['DEFAULTPAYMENTJAN']].values

In [558]:
my_tree = tree.DecisionTreeClassifier()
my_tree = my_tree.fit(features,target)
paymentDefaultPrediction=my_tree.predict(features_test)

In [559]:
paymentDefaultPrediction

array([0, 0, 0, ..., 0, 1, 0])

In [560]:
clientsInfo_test['DEFAULTPAYMENTJAN']=paymentDefaultPrediction

In [561]:
clientsInfo_test

,CUST_COD,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,BIRTH_DATE,PAY_DEC,PAY_NOV,PAY_OCT,PAY_SEP,...,BILL_AMT_SEP,BILL_AMT_AUG,BILL_AMT_JUL,PAY_AMT_DEC,PAY_AMT_NOV,PAY_AMT_OCT,PAY_AMT_SEP,PAY_AMT_AUG,PAY_AMT_JUL,DEFAULTPAYMENTJAN
0,70696449,13117.984,M,2,1,1985-01-05T00:05:00,-1,0,0,0,...,394.940759,225.897647,49.252067,149.753713,90.156326,31.095585,90.543903,49.490576,10.881964,0
1,76505586,596.272,M,0,0,1980-01-13T00:11:00,0,0,0,2,...,582.349049,594.125421,587.178852,38.757680,98.384880,0.000000,29.813600,29.813600,26.832240,0
2,88442515,1490.680,F,0,1,1982-01-10T00:04:00,0,0,0,0,...,445.683506,493.921911,501.643634,36.402406,59.627200,44.720400,59.627200,59.627200,119.254400,0
3,73457138,5962.720,F,2,0,1989-01-17T00:10:00,-1,-1,-1,0,...,126.469291,121.758742,221.038030,19.826044,28.621056,116.511549,30.230990,104.347600,85.863168,0
4,68367768,5366.448,M,0,0,1975-01-13T00:09:00,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,26.832240,27.130376,0.000000,0.000000,0.000000,0.000000,0
5,82218518,298.136,M,1,0,1991-01-07T00:12:00,0,0,0,0,...,557.931710,291.606822,297.509914,38.578798,73.490524,14.906800,29.813600,14.906800,0.000000,0
6,60534292,4770.176,F,0,0,1983-01-17T00:06:00,0,0,0,0,...,4171.608353,4198.202084,4171.966116,193.788400,155.358670,149.068000,149.068000,149.068000,149.068000,1
7,67281056,7453.400,F,0,1,1978-01-02T00:03:00,0,0,0,0,...,6982.494188,7122.230531,7529.812257,316.173228,278.071447,249.301323,268.322400,543.919318,0.000000,0
8,75445133,2385.088,M,0,0,1977-01-01T00:01:00,3,2,0,0,...,711.561191,689.588568,0.000000,0.000000,88.486765,55.661991,13.803697,0.000000,0.000000,1
9,75817746,3875.768,F,0,1,1984-01-21T00:10:00,0,0,0,0,...,3571.192262,3506.228428,3586.784775,178.881600,149.068000,135.085422,149.068000,137.023306,298.136000,1
10,70314517,2683.224,F,0,1,1989-01-01T00:12:00,3,2,2,2,...,2539.760957,2597.122323,5054.389049,178.881600,119.254400,0.000000,125.217120,97.937676,232.158503,1
11,63470230,1490.680,F,1,1,1985-01-01T00:05:00,0,0,0,0,...,831.203168,832.842916,784.515070,57.063230,56.645840,44.064501,34.941539,59.776268,29.813600,0
12,89493515,10732.896,F,0,1,1969-01-04T00:02:00,-1,-1,-1,-1,...,1681.397599,1308.280395,650.473125,107.925232,228.252922,1681.397599,0.000000,0.000000,361.251391,1
13,72265663,2981.360,F,1,0,1970-01-29T00:12:00,2,-1,2,0,...,10.881964,0.000000,0.000000,28.740310,0.000000,0.000000,0.000000,0.000000,8.973894,0
14,76103256,11627.304,F,2,0,1991-01-20T00:02:00,0,0,0,0,...,804.728691,998.248769,1116.966524,119.254400,149.068000,340.381871,298.136000,298.136000,149.068000,0
15,88544901,894.408,F,2,0,1992-01-28T00:03:00,0,0,2,2,...,0.000000,0.000000,0.000000,59.627200,0.000000,0.000000,0.000000,0.000000,0.000000,1
16,67597964,1788.816,M,0,0,1967-01-15T00:08:00,0,0,0,0,...,716.212113,601.489380,481.102063,1154.054642,47.970082,19.706790,19.557722,29.813600,149.068000,0
17,67013221,1490.680,F,0,0,1960-01-03T00:02:00,0,0,0,0,...,525.077123,580.202470,556.321776,64.993648,65.709174,19.557722,64.367562,20.213621,25.371374,1
18,72361455,13117.984,M,2,1,1937-01-20T00:01:00,0,0,0,0,...,13330.018320,13063.931940,13342.867980,468.520724,492.490858,492.311977,471.054880,492.848622,467.387807,0
19,66510666,6558.992,M,0,1,1971-01-01T00:03:00,0,0,0,0,...,5171.317988,2625.475057,2690.379264,193.788400,178.881600,134.161200,89.440800,89.440800,89.440800,0
20,89412257,10434.760,F,1,1,1980-01-06T00:07:00,0,0,2,0,...,7789.190577,7619.342498,7600.708998,984.146936,0.000000,328.575686,274.285120,253.415600,247.452880,0
21,82310843,1788.816,F,2,1,1988-01-02T00:05:00,0,0,0,0,...,1502.158236,1551.648812,1570.013990,62.608560,74.534000,74.534000,74.534000,47.701760,44.720400,0
22,80276302,1490.680,F,0,1,1980-01-18T00:05:00,0,0,0,0,...,246.290150,251.447902,260.511237,64.814766,53.217276,8.824826,9.122962,13.237238,318.588130,0
23,71261906,5366.448,F,1,1,1975-01-02T00:01:00,0,0,2,2,...,70.807300,56.973790,32.198688,111.622118,0.000000,86.787390,0.268322,32.198688,29.515464,0
24,85000545,7155.264,M,2,0,1987-01-30T00:12:00,0,0,0,0,...,1948.974659,858.542239,5513.190539,156.014569,98.056930,61.773779,89.977445,5513.190539,181.862960,1
25,83217029,5962.720,M,2,0,1987-01-30T00:03:00,1,-2,-1,2,...,53.366344,53.366344,10.434760,0.000000,70.002333,0.000000,0.000000,10.434760,76.620952,1
26,83473482,894.408,M,1,0,1957-01-10T00:08:00,0,0,0,0,...,882.273865,833.349747,0.000000,59.925336,44.720400,23.493117,16.665802,0.000000,0.000000,1
27,70737382,11627.304,M,2,0,1984-01-18T00:09:00,0,0,0,0,...,1155.873272,116.690430,195.815725,53.098022,65.232157,29.813600,255.562179,195.815725,340.352058,1
28,64411366,2981.360,M,0,0,1987-01-19T00:10:00,2,0,0,0,...,1398.615603,1482.183124,1454.635358,77.515360,65.589920,65.589920,116.273040,0.000000,181.862960,0
29,82043605,4472.040,M,2,0,1986-01-09T00:01:00,0,0,0,0,...,4114.068105,2704.540724,2765.479722,394.433928,932.569408,178.255514,231.353536,178.881600,7751.536000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3086,82194090,2981.360,F,0,0,29/01/1989,2,3,3,2,...,2891.173860,3019.521408,3039.049316,86.459440,38.757680,89.440800,162.484120,59.627200,0.000000,1
3087,81016326,4173.904,F,2,0,22/01/1988,0,0,0,0,...,2736.948107,2805.877150,2719.030134,149.068000,149.068000,107.328960,119.254400,119.254400,119.254400,0
3088,77834502,1788.816,F,2,0,18/01/1992,0,0,0,2,...,1684.229891,1716.219884,1686.525538,80.496720,143.105280,0.000000,62.608560,65.589920,74.534000,0
3089,75200650,5068.312,M,0,1,09/01/1989,-1,-1,-1,-1,...,39.860783,39.860783,1606.505836,0.000000,42.007362,39.860783,0.000000,1606.505836,59.627200,0
3090,88822627,4770.176,F,2,1,29/01/1974,-1,-1,-1,-1,...,63.979986,75.547662,66.842091,131.686671,31.542789,63.979986,75.547662,66.842091,67.199854,0
3091,75177250,5962.720,F,2,0,11/01/1981,0,0,0,0,...,2169.416418,2100.189238,2057.227841,119.254400,119.254400,149.425763,119.254400,89.440800,119.254400,0
3092,75069952,4472.040,F,0,1,21/01/1981,-2,-2,-2,-2,...,0.000000,53.664480,0.000000,264.029242,200.675342,0.000000,53.664480,0.000000,0.000000,0
3093,86156412,8944.080,F,0,1,02/01/1988,0,0,0,-1,...,863.401856,792.713810,541.742926,40.934073,30.111736,1262.546333,0.000000,0.000000,5.157753,1
3094,83669148,1788.816,F,2,0,25/01/1992,0,0,0,0,...,520.456015,637.593650,129.391024,46.300521,35.776320,10.404946,159.353692,0.000000,9.421098,0
3095,75743975,596.272,F,0,0,10/01/1994,0,0,0,0,...,0.000000,0.000000,572.152798,33.659554,29.873227,0.000000,0.000000,572.152798,0.000000,0
3096,79557147,12521.712,M,2,0,15/01/1982,0,0,0,0,...,4224.438052,4318.172010,4411.041374,208.695200,208.695200,163.974800,163.974800,166.956160,149.068000,0
3097,64849114,1490.680,F,1,1,27/01/1971,0,0,0,0,...,214.479038,218.712570,223.303864,32.437197,33.093096,33.391232,7.811163,8.109299,8.139113,0
3098,75663121,298.136,F,0,0,09/01/1976,0,0,0,0,...,212.481527,206.638062,198.558576,33.480673,32.884401,7.244705,8.824826,8.347808,0.477018,0
3099,76618336,10732.896,M,2,1,12/01/1967,-1,-1,-1,-1,...,22.360200,27.726648,16.099344,11.627304,11.627304,22.360200,27.726648,4.472040,16.099344,0
3100,76629456,10732.896,M,2,1,06/01/1981,-1,-1,-1,-2,...,0.000000,0.000000,0.000000,26.832240,0.000000,0.000000,0.000000,0.000000,0.000000,0
3101,81192663,5366.448,F,0,1,04/01/1970,1,-2,-2,-2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0
3102,64712680,5962.720,M,0,1,13/01/1988,2,2,7,7,...,72.834625,72.834625,72.834625,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
3103,71432340,8944.080,#N/A,2,0,17/01/1986,-2,-2,-2,-2,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
3104,82452055,6857.128,#N/A,2,0,29/01/1991,0,0,0,0,...,395.268709,371.447642,205.296450,149.068000,149.068000,89.440800,19.945298,149.068000,566.458400,1
3105,69680549,3279.496,F,0,1,26/01/1977,0,0,0,0,...,3366.313203,2560.511222,2616.560790,149.068000,149.068000,107.328960,95.403520,119.254400,89.440800,0
3106,79094411,4472.040,M,2,0,17/01/1984,0,0,2,2,...,1705.636056,1701.879542,393.360638,190.657972,0.000000,62.608560,6.618619,29.813600,19.378840,1
3107,69097211,3577.632,M,0,1,14/01/1974,0,0,0,0,...,192.059211,214.121275,240.208175,44.720400,35.776320,29.813600,29.813600,29.813600,29.813600,1
3108,70597333,9540.352,F,2,0,01/01/1983,-1,-1,2,0,...,210.513830,38.429730,10.881964,314.533480,0.000000,0.000000,0.000000,10.881964,361.042696,0
3109,80555348,6558.992,F,2,0,15/01/1987,0,0,0,0,...,1121.110614,463.303344,606.110488,149.068000,149.306509,208.695200,119.254400,149.068000,4.472040,0
3110,80516644,6260.856,M,2,1,19/01/1964,0,0,0,-1,...,332.123504,252.312497,310.240322,53.455785,245.723691,357.763200,254.429262,327.949600,223.602000,0
3111,84676486,2981.360,F,0,0,21/01/1987,2,0,0,0,...,994.730764,872.345936,896.584393,47.671946,59.627200,44.720400,44.720400,38.757680,119.254400,0
3112,63897368,1490.680,M,0,0,03/01/1975,0,0,0,0,...,569.320506,585.896867,563.149090,54.976278,136.009643,19.885671,25.252119,20.869520,19.527908,0
3113,74193459,9838.488,F,2,1,03/01/1980,1,-2,-2,-1,...,13.982578,4.472040,109.147590,0.000000,0.000000,13.982578,4.472040,109.147590,113.291680,0
3114,76865298,298.136,F,0,0,05/01/1994,5,4,3,2,...,230.160992,245.187046,236.839238,0.000000,0.000000,0.000000,23.194981,0.000000,4.710549,1
3115,74052482,5366.448,F,2,0,18/01/1986,0,0,-1,0,...,246.021827,0.000000,0.000000,35.925388,280.307467,0.000000,0.000000,0.000000,0.000000,0

In [562]:
url = "/Users/sorooshnazem/Downloads/Dataset/test_done.csv"
clientsInfo_test.to_csv(url)